@using OnlineShop.Data.Models
@model IEnumerable<Car>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListCars</title>
</head>
<body>
    <h1>Все автомобили</h1>
    <h3>@ViewBag.Category</h3>
    @{
        foreach(var car in Model)
            {
                <div>
                    <h2>Модель: @car.Name</h2>
                    <p>Цена: @car.Price.ToString("c")</p>
                </div>
            }
    }
</body>
</html>
